<header>
    <div class="headerSec">
        <h1 class="header-title">OSU Trade Market</h1>
    </div>
</header>
<div id="login">
    <form action="/home" method="post">
        <label for="name">OSU Name:</label>
        <input id="name" type="text" name="name">
        <label for="name">OSU ID:</label>
        <input id="name" type="text" name="ID">
        <input type="submit" name="New List">
    </form>
</div>
<script src="./js/script.js"></script>