<header>
    <div class="headerSec">
        <h1 class="header-title">OSU Trade Market</h1>
    </div>
</header>
<h1>Your report to {{{name}}} was reveived. We will inform seller to change or delete the post.</h1>